.slide {
    height: 70vh;
    width: 70vw;
    position: relative;
    border: solid;
    overflow: hidden;
}

.slideBorder {
    border: solid;
    padding: 20px 25px 25px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview {
    min-height: 100vh;
}