.editor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    font-family: SansSerif, sans-serif;
    font-size: 3vw;
    border-style: none;
    margin: 0 10vw;
}

.title {
    min-width: 30%;
    font: 18px/30px sans-serif;
    padding: 2px 5px;
    border: 1px solid #1917171c;
    border-radius: 4px;
    margin: 5px;
}

.buttonsPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

.title::selection {
    background: transparent;
}

.title:hover {
    border-color: #dadce0;
}

.tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    margin: 10px;
}

.clickButton:hover, .active-tool {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* Убираем стрелки для Chrome, Edge и Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Убираем стрелки для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
