.miniatures {
    border-style: solid;
    width: 25%;
    min-width: 25vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1px;
}

.miniature {
    transform: scale(1);
    margin: 10px 5px;
    border: groove;
    position: relative;
    min-height: 20%;
}

.miniature:hover {
    opacity: 95%;
}

.active_slide {
    border-style: solid double;
    border-color: black;
}