.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.editor {
  flex-grow: 0;
}

.presentation {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}
